<div id="<%= dom_id user %>">
  <div class="col">
    <%= link_to user_path(user), class: "text-decoration-none" do %>
      <div class="card card-sm">
       <img src="https://i.pinimg.com/564x/b8/3a/bb/b83abbca857139568bb690c69d7bad68.jpg" class="card-img-top img-thumbnail" alt="User Profile Image">
        <div class="card-body">
          <h5 class="card-title"><%= user.first_name %> <%= user.last_name %></h5>
          <p class="card-text"><%= user.email %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
