<div id="<%= dom_id user %>">
  <div class="col">
    <%= link_to user_path(user), class: "text-decoration-none" do %>
      <div class="card card-sm d-flex flex-row align-items-center">
       <%= cl_image_tag user.profile.key, class: 'avatar-large', style: "margin: 10px;"%>
        <div>
          <h5 class="card-title"><%= user.first_name %> <%= user.last_name %></h5>
          <p class="card-text"><%= user.email %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
