

<div class="user-show-banner ">
  <%= render 'video_show', video: @video %>

  <div class="user-card">
    <div class="overlay p-3 bg-secondary d-flex">
      <% if @user.profile.attached? %>
        <%= cl_image_tag @user.profile.key, class: 'pfp'%>
      <% else %>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/680px-Default_pfp.svg.png?20220226140232" alt="Profile Picture" class="pfp">
      <% end %>

      <div class="user-info mx-4 align-items-center align-middle my-auto">
        <h4 class="info-text"><%= @user.first_name + " " + @user.last_name %></h4>
        <h4 class="info-text"><%= "Actor" %></h4>
      </div>

    </div>
  </div>


</div>

<h4 class="text-center mt-5 pt-5 mb-3 pb-3"><%= @user.first_name + " " + @user.last_name %>'s Top 3 Picks</h4>

<div class="container d-flex my-4 py-5 justify-content-around">
  <div class="top-3 mx-3">
    <img src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_FMjpg_UX1000_.jpg" alt="" class="poster">
  </div>
  <div class="top-3 mx-3">
    <img src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_FMjpg_UX1000_.jpg" alt="" class="poster">
  </div>
  <div class="top-3 mx-3">
    <img src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_FMjpg_UX1000_.jpg" alt="" class="poster">
  </div>
</div>

<h4 class="text-center">All other videos that <%= @user.first_name + " " + @user.last_name %> is part of</h4>


<div class="thumbnails">
  <% @videos.each do |video| %>
  <%= render 'video', video: video %>
  <% end %>
</div>
