
<%= simple_form_for [@video, @review] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.input :content  %>
    <%= f.input :rating, as: :range, input_html:{ min:"1", max:"5", oninput:"updateTextInput(this.value)"}, class: "text-center"%>
    <p id="textInput" class="text-center" value=""></p>


    <script>
    function updateTextInput(val) {
              starHTML = ''
              for (let i = 1 ; i<= val; i++){
                starHTML += `<span class="fa fa-star checked"></span>`
              }
              for (let i = 1 ; i<= 5-val; i++){
                starHTML += `<span class="fa fa-star"></span>`
              }

              document.getElementById('textInput').innerHTML=starHTML;
            }
    </script>
    <%= f.submit class: "btn btn-flat" %>
  </div>
<% end %>
