<div id="<%= dom_id video %>">
  <%= cl_video_tag video.videofile.key, class: "show-video", :controls => true %>
</div>

<div class="producer-user-container">
  <h1 style="font-family: sans-serif;">Title of the Movie</h1>
  <h3 style="font-family:  Arial;">Description Content</h3>
  <video class="producer-user" controls autoplay loop>
  </video>
</div>

<div class="d-flex justify-content-between">
  <div class="Comment">
    <h1 style="font-family: sans-serif;">Add a Comment</h1>
    <div class="User-Comments">
      <div class="User-Comment">
        <div class="d-flex align-items-center">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
          <h2 class="ms-2">User1</h2>
        </div>
        <p>One can only imagine the chilling impact on oceanic circulation patterns as temperature and pressure interplay during the ascent from the depths of the Atlantic abyss to the coastal waters.</p>
      </div>
      <div class="User-Comment">
       <div class="d-flex align-items-center">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
          <h2 class="ms-2">User2</h2>
        </div>
        <p>This movie is incredibly captivating. The concept of the megalodon, the largest shark in existence, leaves me utterly speechless. Its sheer enormity defies explanation.</p>
      </div>
      <div class="User-Comment">
       <div class="d-flex align-items-center">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
          <h2 class="ms-2">User3</h2>
        </div>
        <p>While the film might not align with traditional expectations, a part of me senses an intentional self-awareness in its absurdity. Curiously honest, I must admit.</p>
      </div>
    </div>
  </div>


  <div class="Comment">
    <h1 style="font-family: sans-serif;">Production Crew</h1>
      <div class="User-Comment">
        <h2>Actors/Directors/Editors</h2>
        <p>Bradley Charles Cooper is an American actor and filmmaker. He is the recipient of various accolades, including a British Academy Film Award and two Grammy Awards,</p>
      </div>
      <div class="User-Comment">
        <h2>Actors/Directors/Editors</h2>
        <p>Greta Gerwig is one of the most successful actors turned directors in recent years. In 2006 she made her acting debut in the comedy-drama.</p>
      </div>
      <div class="User-Comment">
        <h2>Actors/Directors/Editors</h2>
        <p>Washington didn't entirely strike gold with his first efforts as director. Antwone Fisher and The Great Debaters are not bad movies</p>
      </div>
  </div>
</div>
