<div class="container">
<div id="<%= dom_id video %>">
<% if video.videofile.attached? %>
  <%= cl_video_tag video.videofile.key, class: "show-video", :controls => true %>
<% else %>
  <video autoplay loop muted class=""  >
      <source src="<%= asset_path 'opening_video.mp4' %>" type="video/mp4">
      Your browser does not support the video tag.
  </video>
<% end %>
</div>

  <div class="producer-user-container">
    <h1 style="font-family: sans-serif; "><%= video.title %></h1>
    <div class="producer-user p-2">
      <div class="d-flex align-items-center">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large", style: "margin: 10px;" %>
        <h2 class="ms-2">Phillipe John-Jules</h2>
      </div>

      <div class="producer-descript-content">
        <p style="font-family:  Arial;"><%= video.description %></p>
      </div>
     </div>





  </div>
