<p style="color: green"><%= notice %></p>

<%= render 'video_show', video: @video %>


<div class="container">

  <div class="producer-user-container">
    <h1 style="font-family: sans-serif; "><%= @video.title %></h1>
    <div class="producer-user p-2">
      <div class="d-flex align-items-center">
        <% if @video.user.profile.attached? %>
        <%= cl_image_tag @video.user.profile.key, class: 'avatar-large', style: "margin: 10px;"%>
        <% else %>
          <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/680px-Default_pfp.svg.png?20220226140232", class: "avatar-large", alt: "avatar-large", style: "margin: 10px;" %>
        <% end %>
        <h2 class="ms-2"><%= "#{@video.user.first_name} #{@video.user.last_name}" %></h2>
      </div>
      <div class="producer-descript-content">
        <p style="font-family:  Arial;"><%= @video.description %></p>
      </div>
     </div>
  </div>

  <div class="d-flex justify-content-between">
    <div class="Comment">
      <h1 style="font-family: sans-serif; color: red;">All Reviews</h1>
      <a href="" class="custom-link" data-toggle="modal" data-target="#exampleModalCenter">New Review</a>
      <div class="User-Comments">

        <% @video.reviews.each do |review| %>
          <div class="User-Comment">
            <div class="d-flex align-items-center justify-content-between w-100">
              <div class="d-flex align-items-center">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
                <h2 class="ms-2"><%= review.user.first_name %></h2>
              </div>
            <div class="d-flex align-items-center">
              <% review.rating.to_i.times do %>
                <span class="fa fa-star checked"></span>
              <% end %>
            </div>
            </div>
            <p><%= review.content %></p>
          </div>
        <% end %>
      </div>

    </div>

    <div class="Comment">
      <h1 style="font-family: sans-serif; color: red;">Production Crew</h1>
      <%= "This video does not have any users in it." if @cast.length == 0 %>
      <% @cast.each do |user| %>
        <%= render 'cast', user: user %>
      <% end %>
    </div>
  </div>

  <% if @video.user == current_user %>
  <div class="d-flex">
    <%= link_to "Edit this video", edit_video_path(@video), class: "btn-xs button-35 Edit-this-video", style: "margin-right: 15px;" %>
    <%= link_to "Back to videos", videos_path, class: "btn-xs button-35 Back-to-videos", style: "margin-right: 15px;" %>
    <%= button_to "Delete video", @video, method: :delete, class: "btn-xs button-35 Delete-video" %>
  </div>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade show" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Video Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'new' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
