<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller='theme-toggler'>
  <div class="d-flex justify-content-between align-items-center">
    <%= link_to "/", class: "navbar-brand" do %>
      <h1>Showtime</h1>
    <% end %>

    <div class="navbar-item">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link nav-link-border" %>
        </li>
        <li class="nav-item">
          <%= link_to "Series", videos_path, class: "nav-link nav-link-border" %>
        </li>
        <li class="nav-item">
          <%= link_to "Films", videos_path, class: "nav-link nav-link-border" %>
        </li>
        <li class="nav-item">
          <%= link_to "New", videos_path, class: "nav-link nav-link-border" %>
        </li>
        <li class="nav-item">
          <%= link_to "Popular", videos_path, class: "nav-link nav-link-border" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Lists", videos_path, class: "nav-link" %>
        </li>
      </ul>
    </div>

  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="searchbar m-2">
      <input class="search_input" placeholder="Movie, TV Show.." value="" data-search-videos-target="input" data-action="keyup->search-videos#update" type="text" name="query" id="query" autocomplete="off">
      <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
    </div>
    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
      <div class='d-none' data-theme-toggler-target='themeChoice'><%= current_user.theme_preference%></div>
        <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.profile.attached? %>
              <%= cl_image_tag current_user.profile.key, class: "avatar", alt: "dropdown menu" %>
            <% else %>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/680px-Default_pfp.svg.png?20220226140232" alt="Profile Picture" class="avatar">
            <% end %>
          </a>
          <div class="navbar-dropdown dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <div class="d-flex align-items-center px-2 py-1">
                <i class="fa-regular fa-user p-2"></i>
                <%= link_to "Your dashboard", dashboard_path,  class: "dropdown-item" %>
              </div>
              <div class="d-flex align-items-center px-2 py-1">
                <i class="fa-solid fa-film p-2"></i>
                <%= link_to "ShowTime Studios", studios_path,  class: "dropdown-item" %>
              </div>
              <div class="d-flex align-items-center px-2 py-1">
                <i class="fa-solid fa-shuffle p-2"></i>
                <%= link_to "Switch accounts", "#",  class: "dropdown-item" %>
              </div>
              <div class="dropdown-divider"></div>
              <div class="d-flex align-items-center px-2 py-1">
                <i class="fa-solid fa-toggle-on p-2"></i>
                <button data-controller="theme-toggler" class="dropdown-item" data-action="click->theme-toggler#toggleTheme">Toggle Dark-Mode</button>
              </div>
              <div class="d-flex align-items-center px-2 py-1">
                <i class="fa-solid fa-language p-2"></i>
                <%= link_to "Language: English", "#",  class: "dropdown-item" %>
              </div>
              <div class="d-flex align-items-center px-2 py-1">
                <i class="fa-solid fa-location-dot p-2"></i>
                <%= link_to "Location: United Kingdom", "#",  class: "dropdown-item" %>
              </div>
              <div class="dropdown-divider"></div>
              <div class="d-flex align-items-center px-2 py-1">
                <i class="fa-solid fa-video p-2"></i>
                <%= link_to "Content", videos_path,  class: "dropdown-item" %>
              </div>
              <div class="d-flex align-items-center px-2 py-1">
                <i class="fa-solid fa-bars p-2"></i>
                <%= link_to "Settings", "#", class: "dropdown-item" %>
              </div>
              <div class="dropdown-divider"></div>
              <div class="d-flex align-items-center px-2 py-1">
                <i class="fa-solid fa-circle-info p-2"></i>
                <%= link_to "Help", "#", class: "dropdown-item" %>
              </div>
              <div class="dropdown-divider"></div>
              <div class="d-flex align-items-center px-2 py-1">
                <i class="fa-solid fa-arrow-right-from-bracket p-2"></i>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
