<div class="content">
  <% if current_user.creator? %>
  <h2 class="text-center p-4">Hi, <%= current_user.first_name %></h2>


    <div class="text-center p-4">
    <button type="button" class="btn btn-flat m5" data-toggle="modal" data-target="#exampleModalCenter">
    Upload a video
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade show" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Video Details</h5>
          <button type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close" style="width">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'new' %>
        </div>
      </div>
    </div>
  </div>

    <h2 class="text-center p-4"> Videos you uploaded</h2>
      <% if @videos_uploaded.count == 0 %>
    <p class="text-center"><em>You don't have any uploaded videos</em></p>
  <% end %>
  <div class="thumbnails">
    <% @videos_uploaded.each do |video| %>
    <%= render 'video', video: video %>
    <% end %>
  </div>

  <h2 class="text-center p-4"> Videos you were part of</h2>
  <% if @videos.count == 0 %>
    <p class="text-center"><em>You are not part of any videos</em></p>
  <% end %>
  <div class="thumbnails">
    <% @videos.each do |video| %>
    <%= render 'video', video: video %>
    <% end %>
  </div>





  <% else %>
      <br><br><br><br><br>
      <div class="text-center">
        <img src="https://i.ibb.co/hsGxCxt/creator-landing-page-vector.jpg" alt="", width="50%">
        <h2 class="text-center" style="text-align: center;">Hi, <%= current_user.first_name %></h2>
        <h2 class="text-center"> Register to become a creator today and join our team of <%= User.all.count %> Creators </h2>
        <div class="text-center">
          <%= button_to 'Switch to Creator', user_path(@user), method: :put, class: 'btn btn-flat' %>
        </div>
      </div>
  <% end %>
</div>
