
<div data-search-videos-target="home" >
  <div>
    <div class="home-page-banner">
      <div class="video-container">
        <% if @feature_video %>
          <% if @feature_video.videofile.attached? %>
            <%= cl_video_tag @feature_video.videofile.key, :autoplay => true, :muted => true, :loop => true %>
            <div class="gradient-overlay"></div>
          <% end %>

          <div class="banner-text">
            <h1><%= @feature_video.title %></h1>
            <p><%= @feature_video.description %></p>
            <a class="btn btn-flat" href="<%= video_path(@feature_video) %>">
              <i class="fa-solid fa-play" style="color: #ffffff;"></i>
              Play
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div style="overflow: hidden; padding: 50px 20px 100px 20px">
   <div class="home-page-heading">
    <h1>New Realeses<h1>
   </div>
   <div id="carouselExampleIndicators" class="carousel slide container-fluid" data-ride="carousel">
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="carousel-inner" style="overflow: visible;">
          <div class="carousel-item active">
            <div class="index-container">
              <div class="thumbnails">
                <% @sample_a1.each do |video| %>
                  <%= render "video", video: video %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="index-container">
              <div class="thumbnails">
                <%  @sample_b1.each do |video| %>
                  <%= render "video", video: video %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="index-container">
              <div class="thumbnails">
                <%  @sample_c1.each do |video| %>
                  <%= render "video", video: video %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
   </div>
   <div class="home-page-heading">
    <h1>Most Popular<h1>
   </div>
   <div id="carouselExampleIndicators" class="carousel slide container-fluid" data-ride="carousel">
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="carousel-inner" style="overflow: visible;">
          <div class="carousel-item active">
            <div class="index-container">
              <div class="thumbnails">
                <% @sample_a2.each do |video| %>
                  <%= render "video", video: video %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="index-container">
              <div class="thumbnails">
                <%  @sample_b2.each do |video| %>
                  <%= render "video", video: video %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="index-container">
              <div class="thumbnails">
                <%  @sample_c2.each do |video| %>
                  <%= render "video", video: video %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
   </div>
   <div class="home-page-heading">
    <h1>Recomendations<h1>
   </div>
   <div id="carouselExampleIndicators" class="carousel slide container-fluid" data-ride="carousel">
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="carousel-inner" style="overflow: visible;">
          <div class="carousel-item active">
            <div class="index-container">
              <div class="thumbnails">
                <% @sample_a3.each do |video| %>
                  <%= render "video", video: video %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="index-container">
              <div class="thumbnails">
                <%  @sample_b3.each do |video| %>
                  <%= render "video", video: video %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="index-container">
              <div class="thumbnails">
                <%  @sample_c3.each do |video| %>
                  <%= render "video", video: video %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
   </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<div data-search-videos-target="users">
</div>
<div data-search-videos-target="videos">
</div>
