<!DOCTYPE html>
<html>
  <head>
    <title>ShowTime</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/x-icon" href="https://images-platform.99static.com//DMsWdYePV8Ce96XKZHHxNAA2z8w=/4x517:505x1018/fit-in/500x500/99designs-contests-attachments/121/121820/attachment_121820734">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
